%h2= t(".title")
= login_flash_messages
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.with-floating-label
    = f.email_field :email, autofocus: true, style: "-webkit-box-shadow: 0 0 0 50px #fff inset;"
    = f.label :email
  .field.with-floating-label
    = f.password_field :password, autocomplete: "off", style: "-webkit-box-shadow: 0 0 0 50px #fff inset;"
    = f.label :password
  - if devise_mapping.rememberable?
    .field.checkbox-field
      = f.label :remember_me do
        = f.check_box :remember_me
        %span= t("devise.sessions.remember_me")
  .actions
    = f.submit "Log in"
= render "devise/shared/links"
